body {
    overflow-x: hidden;
    }
    *, ::after, ::before {
      box-sizing: border-box;
    }
    .signup{
      background:#fff;
      /* background: url('../images/art.png'); */
      background-size: cover;
      background-position: center; 
    }
    .form{
      position: relative;
      width:100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-self: center;
    }
    .form-row{
      margin-bottom: 1rem;
    }
    .form-row > select {
      padding: .375rem .75rem;
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .form-card{
      width: 100%;
      background: #fff;
      color: #222;
      padding: .375rem .75rem;;
      /* border-top:4px solid dodgerblue; */
      border-top-right-radius: 5px;
      box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    }
    .form-control {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    label {
      display: inline-block;
      margin-bottom: .5rem;
    }
    
    .signin > h2 > a{
      text-decoration: none;
      color:#fff;
    }
    .signin > p {
      color:#fff;
    }
    .signin > p > a{
      text-decoration: none;
      color:#fff;
      background: orangered;
      padding: 5px;
      border-radius: 10px;
    }
    .signin > p > a:hover{
      color:#eee;
    }
    .signup > p {
      color: #fff;
    }
    .signup > p > a{
      text-decoration: none;
      color:#fff;
      background: orangered;
      padding: 5px;
      border-radius: 10px;
    }
    .signup > p > a:hover{
      color:#000;
    }
    .signup > h2 > a{
      text-decoration: none;
      color:#fff;
    }
    