
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
}
body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}

body::-webkit-scrollbar-thumb {
background-color:#175cf2;
outline: 1px solid blue;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
a{
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.theme-blue {
  color: #fff;
  background-color:#175cf2;
}
.theme-alice{
  background-color: aliceblue;
}
.theme-azure{
  background-color: azure;
}
.card {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); */
  /* box-shadow: 0 0 1px rgba(34, 25, 25, 0.4); */
  box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}
.card__row{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.card__shadow{
  padding: 10px;
  background-color: #fff;
  box-shadow:18px 0 0 -9px rgba(23, 92, 242, 0.20),
             36px 0 0 -18px rgba(23,92,242,0.20),
             -18px 0 0 -9px rgba(23,92,242,0.20),
             -36px 0 0 -18px rgba(23,92,242,0.20),
             0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #B3B3B3;
}
.img__shelter{
  width:100%;
  height: auto;
}
.banner{
  position: relative;
  width: 100%;
  height:550px;
  background:#fff;
  z-index: 50;
}
.overlay{
  position: absolute;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(255,255,255,1); */
  overflow: hidden;
  z-index: 100;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-family: 'Sunflower', sans-serif;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline{
  background: none;
  color: #777;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ddd;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-family: 'Sunflower', sans-serif;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.btn-outline:hover, .btn-outline:focus{
  background-color: #eee;
  color: #222;
  border-color: #fff;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn__transparent{
  color:#175cf2;
  background: transparent;
}
.account__btn{
  background:#175cf2;
  color:#fff;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.account__btn > a {
  color:#fff;
}
.account__btn:hover, .account__btn:focus{
  background-color:#0f23e3;
  color:#fff;
}
.account__btn > a:hover, .account__btn > a:focus {
  color: #fff;
}
/*socials*/
.socials{
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background:#fff;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.socials:hover, .socials:focus{
  transform: rotate(360deg);
  transition: all 0.3s;
}
.display{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.display:hover{
 box-shadow: none;
 transition: ease-out .3s;
}
